<a href="https://colab.research.google.com/github/jaime-escobedo-tec/SeriesDeTiempo-Tec/blob/main/Sesion2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# series de tiempo
## nombre completo matricula
### Sesión 2 - 15 feb 2023

Crea una lista que contenga los integrantes de tu famila

In [2]:
mifamilia= ['integrante1', 'integrante2', 'integrante3', 'etc']

Vamos a elegir el integrante 1, *Nota: python comienza a contar desde cero*

creamos una lista que contenga números

In [11]:
numeros =[]

importamos un par de librerias/módulos. Que nos ayudaran a manejar números

In [4]:
import numpy as np
import pandas as pd

Calcularemos la media de estos números y los ordenaremos

In [12]:
# primero convertimos estos numeros en arreglo

In [ ]:
#calculamos la media y redondeamos a un decimal

In [13]:
#ordenamos los números con .sort()

In [ ]:
#mostramos los números

Pandas utiliza una estructura de datos llamada **DataFrames**, que no son otra cosa que datos organizados en filas y columnas

In [16]:
##creamos un diccionario 
dic_grupo = {'nombre':['Juan','Ale', 'Jime', 'David'], 
             'Edad':[23,14,28,18],
             'calificación':[90,70,45,85]}

In [ ]:
##vemos su contenido

In [18]:
## ahora lo convertimos en DataFrame con pandas

In [ ]:
# ahora vemos el dataframe

In [ ]:
# El nombre de las columnas se llama columns

In [ ]:
# el nombre de las filas se llama Index

In [ ]:
# vemos su estructura con shape

In [ ]:
# seleccionamos la columna nombre

In [ ]:
# seleccionamos la columna Edad

In [ ]:
# seleccionamos la columna edad y la columna nombre

## Repaso de inferencia