<a href="https://colab.research.google.com/github/jaime-escobedo-tec/SeriesDeTiempo-Tec/blob/main/Sesion2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# series de tiempo
## nombre completo matricula
### Sesión 2 - 15 feb 2023

Crea una lista que contenga los integrantes de tu famila

In [2]:
mifamilia= ['integrante1', 'integrante2', 'integrante3', 'etc']

creamos unalista que contenga números

In [11]:
numeros =[4,8,6,7]

importamos un par de librerias/módulos

In [4]:
import numpy as np
import pandas as pd

Calcularemos la media de estos números y los ordenaremos

In [12]:
# primero convertimos estos numeros en arreglo

In [9]:
#calculamos la media y redondeamos a un decimal

5.5

In [13]:
#ordenamos los números con .sort()

In [14]:
#mostramos los números

array([4, 6, 7, 8])